.boton-ver-mas {/*Diseño del botón*/
    background-color: #444EBB;
    border: none;
    color: white;
    padding: 8px 16px;
}

.caja {/*Diseño de las cajas*/
    background-color: #DCDCDC;
    border: 1px solid #ddd;
    padding: 10px; 
    display: flex;
    flex-direction: column;
    width: 300px;
}

.container {/*Contenedor de las cajas*/
    display: flex;
    justify-content: space-between; /* Distribuir las cajas de manera uniforme */
    align-items: flex-end;
    gap: 20px;
    margin-top: 50px;
}

.descuento{/*Diseño del título de descuento*/
    background-color: #2ED8BC;
    color: #0D1606;
    font-size: small;
    margin-bottom: 0;
    padding: 5px 0;
    display: flex;
    justify-content: flex-start;
}

footer {/*Diseño del footer*/
    background-color: #444EBB;
    padding: 5px;
    text-align: center;
}

footer span{
    color: #FFFFFF;
    font-size: large;
    margin-right: 10px;
}

h1{/*Diseño del título principal*/
    background-color: #444EBB;
    color: #0D1606;
    font-family: Arial, sans-serif;
    font-size: large;
    margin-top: 0;
    padding: 20px 0;
    position: fixed;
    width: 100%;
}

.icono-corazon {
    position: absolute;
    justify-content: flex-start;
}

.imagen-superior {/*Diseño imagenes superiores de las cajas*/
    height: 150px;
    width: 300px;
}

.imagen-perfil {/*Diseño imagenes de perfil de las cajas*/
    background-color: white;
    border-radius: 50%;
    height: 100px;
    width: 95px;
    align-self: center; /* Alinear la imagen de perfil en el centro vertical */
    margin-top: -50px; 
}

main {
    align-items: center;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 90vh;
    padding: 0;
}

.names{ /*Diseño de los nombres de los personajes*/
    margin-top: 20px;
}

article {
    text-align: center;
} 

