.boton-ver-mas {/*Diseño del botón*/
    background-color: #444EBB;
    border: none;
    color: white;
    padding: 8px 16px;
}

.caja {/*Diseño de las cajas*/
    width: 300px;
    height: 500px;
    border: 1px solid #ddd;
    padding: 10px; 
    background-color: #DCDCDC;
    text-align: center;
    position: relative;
}

.container {
    display: flex;
    align-items: flex-end;
    gap: 20px;
}

.descuento{
    font-size: small;
    background-color: #2ED8BC;
    padding: 5px 0;
    color: #0D1606;
    margin-bottom: 0;
}

footer {
    background-color: #444EBB;
    padding: 5px;
}

footer span{
    font-size: large;
    color: #FFFFFF;
    margin-right: 10px;
}

h1{
    background-color: #444EBB;
    color: #0D1606;
    font-family: Arial, sans-serif;
    padding: 20px 0;
    margin-top: 0;
    width: 100%;
    position: fixed;
    font-size: large;
}

.imagen-superior {/*Diseño imagenes superiores de las cajas*/
    width: 300px;
    height: 150px;
}

.imagen-perfil {/*Diseño imagenes de perfil de las cajas*/
    width: 95px;
    height: 100px;
    border-radius: 50%;
    background-color: white;
    position: absolute;
    top: 125px;
    left: 120px;
}

main {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 90vh;
    background-color: #f1f1f1;
}

.names{
    margin-top: 90px;
}



