.boton-ver-mas {/*Diseño del botón*/
    background-color: #444EBB;
    border: none;
    color: white;
    padding: 8px 16px;
}

.caja {/*Diseño de las cajas*/
    background-color: #DCDCDC;
    border: 1px solid #ddd;
    height: 500px;
    padding: 10px; 
    position: relative;
    text-align: center;
    width: 300px;
}

.container {/*Contenedor de las cajas*/
    align-items: flex-end;
    display: flex;
    gap: 20px;
}

.descuento{/*Diseño del título de descuento*/
    background-color: #2ED8BC;
    color: #0D1606;
    font-size: small;
    margin-bottom: 0;
    padding: 5px 0;
}

footer {/*Diseño del footer*/
    background-color: #444EBB;
    padding: 5px;
}

footer span{
    color: #FFFFFF;
    font-size: large;
    margin-right: 10px;
}

h1{/*Diseño del título principal*/
    background-color: #444EBB;
    color: #0D1606;
    font-family: Arial, sans-serif;
    font-size: large;
    margin-top: 0;
    padding: 20px 0;
    position: fixed;
    width: 100%;
}

.imagen-superior {/*Diseño imagenes superiores de las cajas*/
    height: 150px;
    width: 300px;
}

.imagen-perfil {/*Diseño imagenes de perfil de las cajas*/
    background-color: white;
    border-radius: 50%;
    height: 100px;
    left: 120px;
    position: absolute;
    top: 125px;
    width: 95px;
}

main {
    align-items: center;
    background-color: #f1f1f1;
    display: flex;
    justify-content: center;
    margin: 0;
    min-height: 90vh;
    padding: 0;
}

.names{ /*Diseño de los nombres de los personajes*/
    margin-top: 90px;
}



